/* Global Styling */

* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Body Styling */

body {
    line-height: 1;
}

/* Header Styling */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5f5a5a;
    color: #ffffff;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin: 0;
    }

header h1 {
    font-size: 48px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    width: 33.33%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #020202;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.nav li {
    list-style-type: none;
    padding-left: 0;
}
  

#date {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    color: white;
    padding-bottom: 15px;
    padding-top: 0;
}
/* Figure Styling */

figure {
    margin: 0px;
    margin-block: 0px;
    height: 70vh;
}


/* Hero Styling */
.hero {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-position: center;
}

/* Flex Box Styling */

.container {
   color: black;
}

.container ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}
.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card-gallery li {
    flex-basis: 450px;
}

.cardImg {
   object-fit: fill;
   max-width: 100%;
   height: 200px;
   vertical-align: middle; 
    
   border-radius: 5px;
}

.show-more-btn {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.contentBtns {
    display: block;
}




  /* Footer Styling */

footer {
    text-align: center;
    background-color: black;
    padding: 64px 0px;
    color: white;
}

.creators {
    font-size: 20px;
}

#footerHome a {
    text-decoration-line: underline;
    color: white;
    font-size: 30px;
}


/* Dropdown Positioning */
.dropdown {
    position: relative;
}

.dropdown li {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content */
.dropdown-content {
    display: none;

}
  
/* Links inside the dropdown */
.dropdown-content li a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
   
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: rgb(173, 171, 171);
    width: 350px;
    height: auto;
}
.dropdown-content li:hover a {
    color: rgb(249, 249, 249);
}


@media screen and (max-width: 767px) {
    #date {
        position: static;
        margin-top: 20px;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        line-height: 55px;
        text-align: center;
    }
    figure {
        height: 30vh;
    }
    .hero {
        height: 30vh;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .cardImg {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;    
        border-radius: 5px;
     }
}