/* Global Styling */

* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Body Styling */

body {
    line-height: 1;
}

/* Header Styling */


/* Figure Styling */

figure {
    margin: 0px;
    margin-block: 0px;
    height: 70vh;
}


/* Hero Styling */
.hero {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-position: center;
}

/* Flex Box Styling */

.container {
   color: black;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card-gallery li {
    flex-basis: 350px;
}

.cardImg {
   object-fit: cover;
   max-width: 100%;
   height: auto;
   vertical-align: middle;    
   border-radius: 5px;
}

/* Read More Styling */

#read-more-content {
    display: none;
}

